header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  img {
    margin: 10px 20px;
    cursor: pointer;    
  }

  .shopping-cart {
    max-width: 30px;
    cursor: pointer;
  }


}
